<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>EkSaath</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/styles.css" />
    <script src="main.js"></script>
</head>
<body>
    <div class="body">
        <div class="profile">
            <div class="pic" >
              <img src = "https://avatars3.githubusercontent.com/u/32420201?s=460&v=4">
            </div>
            <div class="info">
                <b>Name:<br></b> <%= currentUser.username%><br>
                <b>Interests:<br></b> Cuisine <br>Digital Forensics <br> Kirigami
                <br>Cryptography
                <br><b>Place:</b><br>New Delhi
            </div>
        </div>