<div class="topnav">
                <div class="item">
                    <a class="atag" href="/othergrps">
                        Trending Groups
                    </a>
                </div>
                <div class="item">
                    <a class="atag" href="/yourgrps">
                        Your Groups
                    </a>
                </div>
                <div class="item" href="/resources">
                    <a class="atag">
                        Resources
                    </a>
                </div>
                <div class="item">
                    <a class="atag" href="/interactions">
                        Expert Interactions
                    </a>
                </div>
                <div class="item end">
                    <a class="atag" href="/scholarships">
                        Scholarships
                    </a>
                </div>
                <div class="waste">

                </div>
                <div class="item last">
                    <a class="atag" href="/logout">
                        Logout
                    </a>
                </div>
            </div>