<%include partials/header%>        
        <div class="main">
            <%include partials/topbar%>

            <div>
                <div class="feeds">
                    <div class="side">
                            <div class="img">
                                <img src="http://www.onmycanvas.com/wp-content/uploads/2018/02/brain1.jpg" alt="Modern_Life_with_happy_mind">
                            </div>
                    </div>
                    <div class="text">
                        <b>Modern_Life_with_happy_mind</b> <br>Social interaction is one of the biggest predictors of happiness. The more time spent with people, the happier you'll be. This community gathers people belonging to different sectors of life to come together as a team and share their purpose of life so far and motivate others. Join to become an emotionally intellectual citizen. Place : New Delhi #AHappyLife
                    </div>
                </div>
                <div class="feeds">
                    <div class="side">
                        <div class="img">
                            <img src="http://alanzeichick.com/wp-content/uploads/e6972790f7078181d7431240a9ac04b7_owasp_logo_icon.png" alt="OWASP_Top_Millions">
                        </div>                     
                    </div>
                    <div class="text">
                        <b>OWASP_Top_Millions</b><br> Everyone cyber security lover has heard of Open Web Application Security Project. With the multiple test cases in mind and payloads in hand, join the community to support like minded people from different backgrounds. Place : Delhi-NCR #OWASP_MIll
                    </div>
                </div>
                <div class="feeds">
                    <div class="side">
                        <div class="img">
                            <img src="https://us.123rf.com/450wm/sn333g/sn333g1711/sn333g171100033/89606770-machine-learning-vector-round-concept-illustration-in-thin-line-style.jpg?ver=6" alt = "Machine_Learning_Tricks">
                        </div> 
                    </div>
                    <div class="text">
                        <b>Machine_Learning_Tricks</b><br>  A computer is able to learn from experience without being specifically programmed. We indeed we believe in the concept of learning from experience and implementing those in real life. Join the group of amazing novice to experts ML enthusiasts. Place : New Delhi  #MLTricks

                    </div>
                </div>
            </div>
        </div>
        
        <%include partials/footer%>