<%include partials/header%>        
        <div class="main">
            <%include partials/topbar%>
            <div>
                <div class="feeds">
                    <div class="side">
                            <div class="img">
                                <img src="https://i1.wp.com/sarkarinaukrisamachar.com/wp-content/uploads/2018/06/1529520513_ministry-of-science-and-technology-recruitment-2018-2019-dst-gov-in-jobs.jpg?fit=315%2C257" alt="Women Scientist Scholarship">
                            </div>
                    </div>
                    <div class="text">
                        <b>Women Scientist Scholarship</b> <br>Under this scheme of DST, women scientists are being encouraged to pursue research in frontier areas of science and engineering, on problems of societal relevance and to take up S&T-based internship followed by self-employment.The scheme is meant to encourage women in S&T domain, preferably those having a break in career and not having regular employment, to explore possibility of re-entry into the profession.
                    </div>
                </div>
                <div class="feeds">
                    <div class="side">
                        <div class="img">
                            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/6/69/IIT_Madras_Logo.svg/220px-IIT_Madras_Logo.svg.png" alt="IIT Delhi Women Scholarship">
                        </div>                     
                    </div>
                    <div class="text">
                        <b>Post-Doctoral Fellowship for women having career break</b><br> IIT Madras offers scholarship for women with Break in career with Ph.D with an objective of maintaining awareness and interest in high quality academic research in the engineering departments of Aerospace, Applied Mechanics, Biotechnology, Chemical, Civil, ComputerScience & Engineering, Electrical, Engineering Design, Mechanical, Metallurgical & Materialsand Ocean and in the departments of Chemistry, Humanities & Social Sciences,Management Studies, Mathematics and Physics.
                    </div>
                </div>
                <div class="feeds">
                    <div class="side">
                        <div class="img">
                            <img src="https://images.careers360.mobi/sites/default/files/filefield_paths/MHRD-IoE-1Cr-Fees.jpg" alt = "Pragati Scholarship">
                        </div> 
                    </div>
                    <div class="text">
                        <b>Pragati Scholarship</b><br> To provide encouragement and support to Girl Child to pursue technical education “Pragati Scholarship” has been launched by the MHRD government from the year 2014-15. The scholarship includes tution fee of Rs. 30000

                    </div>
                </div>
            </div>
<%include partials/footer%>