<%include partials/header%>        
        <div class="main">
            <%include partials/topbar%>
            <div>
                <div class="feeds">
                    <div class="side">
                            <div class="img">
                                <img src="https://image4.owler.com/logo/cybrary_owler_20160809_171841_original.png" alt="Cybrary.it">
                            </div>
                    </div>
                    <div class="text">
                        <b>Comptia Network+ by Cybrary.it</b> <br>CompTIA Network+ training and certification provides you with the education to begin a career in network administration. This free online course teaches the skills needed to create, configure, manage, and troubleshoot wireless and wired networks.<br><b>LEVEL : Beginner</b>
                        <br><br>
                        <b>Computer and Hacking Forensics by Cybrary.it</b><br>The Computer Hacking and Forensics course trains you to be a computer forensics professional. You will gain the knowledge needed to investigate cyber-criminal activity and to successfully pass the Computer Hacking Forensics Investigator certification exam.<br><b>LEVEL : Intermediate</b><br>
                    </div>
                </div>
                <div class="feeds">
                    <div class="side">
                        <div class="img">
                            <img src="https://ae01.alicdn.com/kf/HTB1qle3NVXXXXcvXVXXq6xXFXXXf/10PCS-Flowerpot-with-Flower-Kirigami-3D-pop-up-laser-cut-handmade-birthday-greeting-card-designs-gift.jpg" alt="Kirigami">
                        </div>                     
                    </div>
                    <div class="text">
                        <b>Kirigami Tutorials by WonderHowTo</b><br> a good resource for locating video tutorials on making Kirigami.
                        <b>LEVEL : Beginner</b>
                        <br><br>
                        <b>Easy Cut Pop-up tips and tricks</b><br> Easy Cut Pop-up, the designers of the printable Kirigami pop-up card pattern has developed this tips & tricks center to help you with your next Kirigami project. With these pop-up card making templates, the art of Kirigami pop-up cards is easy for all paper crafters and scrapbookers. With so many printable pop-up card making patterns to choose from, you can make a memoreable greeting card for any occasion. <br>
                        <b>LEVEL : Intermediate</b>
                        

                    </div>
                </div>
<!--                <div class="feeds">
                    <div class="side">
                        <div class="img">
                            <img src="https://images.careers360.mobi/sites/default/files/filefield_paths/MHRD-IoE-1Cr-Fees.jpg" alt = "Pragati Scholarship">
                        </div> 
                    </div>
                    <div class="text">
                        <b>Pragati Scholarship</b><br> To provide encouragement and support to Girl Child to pursue technical education “Pragati Scholarship” has been launched by the MHRD government from the year 2014-15. The scholarship includes tution fee of Rs. 30000-->

                    </div>
                </div>
            </div>
        </div>
    </div>
<%include partials/footer%>