<%include partials/header%>        
        <div class="main">
            <%include partials/topbar%>
            <div>
                <div class="feeds">
                    <div class="side">
                            <div class="img">
                                <img src="https://womenscyberjutsu.org/resource/resmgr/Images/digitalfingerprint.png" alt="Digital_Forensics_Regents">
                            </div>
                    </div>
                    <div class="text">
                        <b>Digital_Foreniscs_Regents</b> 
                        <br>Seeing Sherlock and being Sherlock are totally different things. Understanding the intricacies of the modus operandi of an investigator in the occurrence of a cyber crime takes immense patience. Are you up for it? If yes, join the group of pragmatic sleuths.  Place: Delhi-NCR #DFR 
                    </div>
                </div>
                <div class="feeds">
                    <div class="side">
                        <div class="img">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRk72tpl9v5bW97KQ5KNNd_5JhMR3_jo8yveBx3bBFf3bq3Y8uC" alt="Kirigami_Devs">
                        </div>
                    </div>
                    <div class="text">
                
                        <b>Kirigami_Devs</b><br>
From architects to nano-engineers, people are exploring the geometries within the ancient art of papercutting to find their next big idea. This community focuses upon taking everyone forward in a field less heard of. Join us to be a part of this community and if you are already a part of it ten we welcome you aboard. Place : New Delhi #KirigamiDevs
                        
                    </div>
                </div>
                <div class="feeds">
                    <div class="side">
                        <div class="img">
                        <img src="https://www.franchiseindia.com/uploads/content/ri/art/ethnic-cuisine-edited-be1711b229.jpg"
                        alt = "Ethnic_Cuisine"></div> 
                    </div>
                    <div class="text">
                        <b>Ethnic_Cuisine</b><br> 
In a narrow sense, ethnic foods are defined as foods originating from a heritage and culture of an ethnic group who use their knowledge of local ingredients of plants and/or animal sources. We support the amalgamation of modern foods with a taste of ethnic cuisine in them. We would like to welcome you our family. Place : New Delhi #ECusine
                    </div>
                </div>
            </div>
<%include partials/footer%>